// ==========================================
// Layout media queries
// ==========================================

@include mq(medium) {
  .inner-container {
    width: 750px;
  }
}
@include mq(large) {
  .inner-container {
    width: 970px;
  }
}

@include mq(x-large) {
  .inner-container {
    width: 1170px;
  }
}
