// ==========================================
// Layout media queries
// ==========================================

.inner-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@include med-min {
  .inner-container {
    width: 750px;
  }
}
@include large {
  .inner-container {
    width: 970px;
  }
}

@include x-large {
  .inner-container {
    width: 1170px;
  }
}
