// ==========================================
// Media queries
// ===========================================

@include mq(medium) {
  .links-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-links {
    width: 45%;
    margin: 0 0 1.5rem 0;
    padding: 0;
    padding-right: 15px;
  }
  .hyphen {
    padding: 0 5px;
  }
}

@include mq(large) {
  .main-links {
    width: 25%;
  }
}

@include mq(x-large) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .socials-container {
    padding-right: 5rem;
  }
  .main-links {
    padding: 0 15px;
    width: 25%;
  }
  .links-container {
    min-width: 800px;
  }
  .link-title {
    padding-top: 35px;
  }
}

@include mq(x-small) {
  .socials-container img {
    width: 250px;
  }
}
@include mq(large) {
  .input-wrap {
    display: flex;
    column-gap: 2rem;
  }
}

@include medium-max {
  .footer-bottom .license {
    padding-bottom: 0;
  }
  .inner-container {
    // text-align: left;
    flex: auto;
  }
  .license span,
  .license .sitemap {
    display: block;
    padding-left: 0;
  }
  .license .hyphen {
    display: none;
  }
}

@include mq(large) {
  .div-one,
  .div-two {
    width: 50%;
    padding-left: 20px;
  }
}

@include mq(large) {
  .welcome-section {
    .inner-container {
      display: flex;
      flex-direction: row;
    }
  }
}

// Header media queries

@include mq(large) {
  .header-btn {
    width: 520px;
  }
}
@include mq(x-large) {
  .header-btn {
    width: 1100px;
  }
}
@include mq(medium) {
  .phone,
  .search-mobile {
    display: none;
  }
  .search-bar {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 0;
    margin-right: 0 !important;
    height: 57px !important;
  }
  .search-box {
    padding: 1em;
    flex: 1;
    background-color: #fff;
    max-width: 175px;
  }
  .search-bar {
    font-size: 1em;
    fill: #fff;
  }
  input[type="text"] {
    border: 1px solid #ccc;
    outline: none;
    font-size: 1em;
    height: 57px;
  }
  .search-bar button {
    @include button-style(
      header,
      secondary,
      $custom-padding: 16px 20px,
      $custom-font-size: 1em
    );
    border: none;
    outline: none;
    border-radius: 0 5% 5% 0;
    cursor: pointer;
  }
}

@include mq(medium) {
  .search-box:focus {
    box-shadow: 0px 0px 7px -1px $border;
    border-color: $border;
    border-right: 1px solid $border;
  }
}

@include medium-max {
  .search-bar {
    display: none;
  }
}
@include mq(medium) {
  .search-bar {
    max-width: 243px;
  }
}
@include mq(large) {
  .search-bar {
    max-width: 66px;
  }
  .search-bar button {
    border-radius: 3px;
  }
  .search-box {
    display: none;
  }
}
@include mq(x-large) {
  .search-bar {
    max-width: 306px;
    justify-content: flex-end;
    margin-left: -2px;
    .search-box {
      display: block;
      max-width: 240px;
    }
  }
}
@include mq(x-large) {
  .search-bar button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
@include mq(large) {
  .icon-disabled {
    display: inline;
  }
}

// Banner image media queries

@media (min-width: 280px) and (max-width: 460px) {
  .first-image {
    height: 580px;
  }
}

@include mq(large) {
  .first-image {
    text-align: left;
    height: 547px;
  }
  .first-image .h1 {
    font-size: 4em;
    line-height: 5rem;
    padding: 0;
    margin-left: 0;
  }
  .first-image p {
    font-size: 1.625em;
    margin-left: 0;
    line-height: 2.5rem;
  }
}

@include mq(small) {
  .image-container {
    padding: 87px 0;
  }
  @include mq(large) {
    .image-container {
      padding: 60px 0;
    }
    @include mq(x-large) {
      .image-container {
        padding: 87px 0;
      }
    }
  }
}

@include mq(medium) {
  .view-hidden {
    visibility: visible;
  }
  .view-work {
    display: none;
  }
}

// Grid media queries

@media (max-width: 768px) {
  .tab-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "tabone tabone" "tabtwo tabtwo" "tabthree tabthree" "tabfour tabfour"
      "tabfive tabfive" "tabsix tabsix" "tabseven tabseven";
  }
}
@include mq(medium) {
  .tab-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "tabone tabone" "tabtwo tabtwo" "tabthree tabthree" "tabfour tabfive" "tabsix tabseven";
  }
  @include mq(large) {
    .tab-container {
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        "tabone tabone tabtwo tabtwo tabthree tabthree"
        "tabfour tabfour tabfour tabfive tabfive tabfive"
        "tabsix tabsix tabsix tabseven tabseven tabseven";
    }
  }
  @include mq(x-large) {
    .tab-container {
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas:
        "tabone tabone tabone tabone tabtwo tabtwo tabtwo tabtwo tabthree tabthree tabthree tabthree"
        "tabfour tabfour tabfour tabfive tabfive tabfive tabsix tabsix tabsix tabseven tabseven tabseven";
    }
  }
}
