// ==========================================
// Media queries
// ===========================================

@include mq(medium) {
  .links-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-links {
    width: 45%;
    margin: 0 0 1.5rem 0;
    padding: 0;
  }
  .hyphen {
    padding: 0 5px;
  }
}

@include mq(large) {
  .main-links {
    width: 25%;
  }
}

@include mq(x-large) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-links {
    padding: 0 1rem;
    width: 25%;
  }
  .link-title {
    padding-top: 35px;
  }
  .links-container {
    margin-bottom: 40px;
  }
}

@include mq(x-small) {
  .socials-container img {
    width: 320px;
  }
}
@include mq(large) {
  .input-wrap {
    display: flex;
    column-gap: 2rem;
  }
}

@media (max-width: 768px) {
  .footer-bottom .license {
    padding-bottom: 0;
  }
  .inner-container {
    text-align: left;
    flex: auto;
  }
  .license span,
  .license .sitemap {
    display: block;
    padding-left: 0;
  }
  .license .hyphen {
    display: none;
  }
}

@include mq(large) {
  .div-one,
  .div-two {
    width: 45%;
  }
}

@include mq(large) {
  .welcome-section {
    flex-direction: unset;
  }
}
