// ==========================================
// Footer
// ==========================================

.footer-outer {
    display: flex;
    flex-grow: 1;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #323544;

  }

 .footer-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2rem auto 0; 
}
footer h4 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 26px;
}

.links-container :first-child {
    margin-top: 0;
  }
  
.links-container {
    background-color: none;
    display: flex;
    flex-direction: column;
  }
.footer-bottom {
    background: #212330;
    color: white;
    bottom: 0;
}

.sitemap {
    text-decoration: none;
    color: white;
}
.sitemap:hover {
    text-decoration: underline;
}
.footer-container,
.socials-container,
.links-container {
    margin-bottom: 1rem;
}    
.main-links a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}
.main-links a:hover {
    text-decoration: underline;
}
