// ==========================================
// Footer
// ==========================================

.footer-outer {
  background-color: #323544;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 0;
}
footer h4 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 26px;
  padding-left: 5px;
}
.socials-container a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.socials-container a:hover {
  text-decoration: underline;
}

.nm-logo-wh {
  margin-top: 3rem;
}
.links-container {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.sitemap {
  text-decoration: none;
  color: white;
}
.sitemap:hover {
  text-decoration: underline;
}

.socials-container img {
  width: 250px;
  padding-left: 2px;
}
.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  max-width: 150px;
}

.link-title {
  padding: 0;
}
.main-links a {
  color: white;
  font-size: 13px;
  text-decoration: none;
}
.main-links a:hover {
  text-decoration: underline;
}
.footer-bottom {
  display: flex;
  flex-direction: row;
  background: #212330;
  color: white;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 13px;
}

.copyright::before {
  white-space: pre;
}
