// ============================================
// Icon styles
// ============================================

.socials {
  fill: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  max-width: 150px;
}
.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #212330;
  margin: 0.25rem;
  text-decoration: none;
}
.social-icon-fb,
.social-icon-li,
.social-icon-tw,
.social-icon-in {
  width: 1.25rem;
  height: 1.25rem;
  fill: white;
}

// ==============================================
// Hover styles
// ==============================================

.fb-ico:hover {
  background-color: #3b5998;
}
.in-ico:hover {
  background-color: #d93175;
}
.li-ico:hover {
  background-color: #0077b5;
}
.tw-ico:hover {
  background-color: #00aced;
}

// ====================================================
// Media queries
// ====================================================

@media (min-width: 600px) {
  .socials {
    /* Change from a grid of 4 to a row */
    flex-wrap: nowrap;
  }
}
