// ==========================================
// Media queries
// ===========================================

@media screen and (min-width: 768px) {
  .links-container {
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid red;
  }

  .main-links {
    width: 45%;
    margin: 0 0 1.5rem 0;
    padding: 0;
  }
}

@media screen and (min-width: 992px) {
  .main-links {
    width: 25%;
  }
}

@media screen and (min-width: 1260px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-links {
    padding: 0 1rem;
    width: 25%;
  }

  .links-container {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 480px) {
  .socials-container img {
    width: 320px;
  }
}
