// ===============================
// Variables
// =================================

$dark-bg: #323544;
$vdark-bg: #22242e;
$med-bg: #ddd;
$dark-txt: #333645;

// font weight ====================

$font-light: 400;
$font-bold: 600;
