// ==========================  Banner buttons ============================================================================================

.image-container a {
  @include button-style(banner, image-container);
}

// ==========================  Header buttons ============================================================================================

.header-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: 15px;
  padding-left: 10px;
}

.icon-disabled {
  display: none;
}
.icon-disabled i {
  padding-right: 5px;
}
.icon-disabled a:nth-child(1) {
  color: #fff;
  background-color: #4183d7;
  padding: 15px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  margin-right: 15px;
  &:hover {
    background-color: #2a6ec6;
  }
}
.icon-disabled a:nth-child(2) {
  color: #fff;
  background-color: #999aa2;
  padding: 15px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  margin-right: 15px;
  margin-left: -5px;
  &:hover {
    background-color: #84858f;
  }
}

#hamburger-nav {
  padding: 0;
  background: none;
  border: none;
}
.hamburger-box {
  background-color: $dark-txt;
  border-radius: 3px;
  height: 56px !important;
  padding: 5px 30px;
  font-size: 2em;
  margin: 4px -7px 0 13px;
  &:hover {
    background-color: $vdark-bg;
  }
}
.hamburger-inner {
  left: 10px;
}

.hamburger.is-active:hover,
.hamburger:hover {
  opacity: 1 !important;
}
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  display: block;
  background-color: #fff !important;
  border-radius: 0 !important;
}

// Articles buttons in the news section

.tag-1 {
  position: absolute;
  right: 0;
  top: -3px;
  background-color: #67809f;
  color: #fff;
  font-size: 0.75em;
  font-weight: 600;
  padding: 5px 10px;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
}

.tag-2,
.tag-3 {
  position: absolute;
  right: 0;
  top: -3px;
  background-color: #926fb1;
  color: #fff;
  font-size: 0.75em;
  font-weight: 600;
  padding: 5px 10px;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
}

.readmore1 {
  background-color: #67809f;
  color: #fff;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.1em;
  border-radius: 3px;
  width: fit-content;
  margin-bottom: 30px;
}

.readmore2,
.readmore3 {
  background-color: #926fb1;
  color: #fff;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.1em;
  border-radius: 3px;
  width: fit-content;
  margin-bottom: 30px;
}

.tooltiptext .a {
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  background-color: #67809f;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  filter: none;
  border-radius: 3px;
  &:hover {
    background-color: #526781;
    cursor: pointer;
  }
}

// Newsletter button

.subscribe {
  color: white;
  background-color: $dark-bg;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-size: 1.063rem;
  border: none;
  border-radius: 3px;
  white-space: normal;
  &:hover {
    background-color: $vdark-bg;
    cursor: pointer;
  }
}

// Services buttons and icons

.tab-container .button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  padding: 15px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 30px 0 10px 0;
  cursor: pointer;
}

.tab1 .icon,
.tab1 .button {
  background-color: #67809f;
}

.tab2 .icon,
.tab2 .button {
  background-color: #4183d7;
}

.tab3 .icon,
.tab3 .button {
  background-color: #2ecc71;
}

.tab4 .icon,
.tab4 .button {
  background-color: #d64541;
}

.tab5 .icon,
.tab5 .button {
  background-color: #926fb1;
}

.tab6 .icon,
.tab6 .button {
  background-color: #f62459;
}

.tab7 .icon,
.tab7 .button {
  background-color: #ce4125;
}

.tab1 .button,
.tab2 .button,
.tab3 .button,
.tab4 .button,
.tab5 .button,
.tab6 .button,
.tab7 .button {
  display: inline-block;
}

.tab1:hover .button,
.tab1:hover .icon {
  color: #67809f;
}
.tab2:hover .button,
.tab2:hover .icon {
  color: #4183d7;
}
.tab3:hover .button,
.tab3:hover .icon {
  color: #2ecc71;
}
.tab4:hover .button,
.tab4:hover .icon {
  color: #d64541;
}
.tab5:hover .button,
.tab5:hover .icon {
  color: #926fb1;
}
.tab6:hover .button,
.tab6:hover .icon {
  color: #f62459;
}
.tab7:hover .button,
.tab7:hover .icon {
  color: #ce4125;
}

.tab-container > div:hover .icon,
.tab-container > div:hover .button {
  background-color: #fff;
}

// Welcome section buttons

.btn-prim {
  text-transform: uppercase;
  line-height: 2rem;
  font-size: 1.25rem;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: $btn-dark;
  margin-right: 15px;
  &:hover {
    background-color: $btn-vdark;
  }
}

.google {
  margin-top: auto;
  background-color: $btn-google;
  &:hover {
    background-color: $google-hover;
  }
}
.trustpilot {
  margin-top: auto;
  background-color: $btn-trustp;
  &:hover {
    background-color: $trstp-hover;
  }
}
