// ===============================
// Variables
// =================================

$dark-bg: #323544;
$vdark-bg: #22242e;
$med-bg: #ddd;
$dark-txt: #333645;

$btn-dark: #272936;
$btn-vdark: #121318;

$btn-google: #4387f6;
$google-hover: #166af4;

$btn-trustp: #00b67b;
$trstp-hover: #009b69;

// font weight ====================

$font-light: 400;
$font-med: 500;
$font-bold: 600;

// breakpoints

$break--x-sml: 1px;
$break--sml: 460px;
$break--med: 767px;
$break--lrg: 991px;
$break--x-lrg: 1200px;
