// ===============================
// Variables
// =================================

$dark-bg: #323544;
$vdark-bg: #22242e;
$med-bg: #ddd;
$dark-txt: #333645;

$btn-dark: #272936;
$btn-vdark: #121318;

$btn-google: #4387f6;
$google-hover: #166af4;

$btn-trustp: #00b67b;
$trstp-hover: #009b69;

// font weight ====================

$font-light: 400;
$font-bold: 600;

// breakpoints

$small: 480px;
$med: 768px;
$larg: 992px;
$xlarg: 1200px;
