// ========================================================================================
// Mixins
// ========================================================================================

// Media queries ==========================================================================

@mixin mq($break) {
  @if $break == "x-small" {
    @media (min-width: $break--x-sml) and (max-width: $break--sml) {
      @content;
    }
  } @else if $break == "small" {
    @media (min-width: $break--sml + 1) {
      @content;
    }
  } @else if $break == "medium" {
    @media (min-width: $break--med + 1) {
      @content;
    }
  } @else if $break == "large" {
    @media (min-width: $break--lrg + 1) {
      @content;
    }
  } @else if $break == "x-large" {
    @media (min-width: $break--x-lrg + 1) {
      @content;
    }
  } @else {
    @error "#{$break} isnt a valid media query size!!";
  }
}

// Max width 768px

@mixin medium-max {
  @media (max-width: 768px) {
    @content;
  }
}

// Button maps and mixins

$button-styles: (
  banner: (
    image-container: (
      bg-color: #926fb1,
      hover-bg-color: #7e57a0,
    ),
  ),
  header: (
    primary: (
      bg-color: #4183d7,
      hover-bg-color: #2a6ec6,
    ),
    secondary: (
      bg-color: #999aa2,
      hover-bg-color: #84858f,
    ),
    hamburger-nav: (
      bg-color: $dark-txt,
      hover-bg-color: $vdark-bg,
    ),
  ),
  news: (
    tag-1: (
      bg-color: #67809f,
      hover-bg-color: #526781,
    ),
    tag-2: (
      bg-color: #926fb1,
      hover-bg-color: #7e57a0,
    ),
    tag-3: (
      bg-color: #926fb1,
      hover-bg-color: #7e57a0,
    ),
    readmore1: (
      bg-color: #67809f,
      hover-bg-color: #526781,
    ),
    readmore2: (
      bg-color: #926fb1,
      hover-bg-color: #7e57a0,
    ),
    readmore3: (
      bg-color: #926fb1,
      hover-bg-color: #7e57a0,
    ),
    tooltiptext-a: (
      bg-color: #67809f,
      hover-bg-color: #526781,
    ),
  ),
  newsletter: (
    subscribe: (
      bg-color: $dark-bg,
      hover-bg-color: $vdark-bg,
    ),
  ),
  welcome: (
    btn-prim: (
      bg-color: $btn-dark,
      hover-bg-color: $btn-vdark,
    ),
    google: (
      bg-color: $btn-google,
      hover-bg-color: $google-hover,
    ),
    trustpilot: (
      bg-color: $btn-trustp,
      hover-bg-color: $trstp-hover,
    ),
  ),
);

@mixin button-style(
  $type,
  $style,
  $custom-margin-top: null,
  $custom-margin-bottom: null,
  $custom-font-size: null,
  $custom-line-height: null,
  $custom-padding: null
) {
  $style-props: map-get(map-get($button-styles, $type), $style);

  // Applying styles with optional margin, padding, font-size, and line-height
  @if $type == "newsletter" {
    color: #fff;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-size: 1.063rem;
    border: none;
    border-radius: 3px;
    white-space: normal;
    background-color: map-get($style-props, bg-color);
    &:hover {
      background-color: map-get($style-props, hover-bg-color);
    }
  } @else {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: if(
      $custom-font-size,
      $custom-font-size,
      map-get($style-props, font-size, 1em)
    );
    line-height: if(
      $custom-line-height,
      $custom-line-height,
      map-get($style-props, line-height, normal)
    );
    margin-top: map-get($style-props, margin, 0) + $custom-margin-top;
    margin-bottom: map-get($style-props, margin, 0) + $custom-margin-bottom;
    padding: if(
      $custom-padding,
      $custom-padding,
      map-get($style-props, padding, 0)
    );
    border-radius: 3px;

    background-color: map-get($style-props, bg-color);

    &:hover {
      background-color: map-get($style-props, hover-bg-color);
    }
  }
}
