// ========================================================================
// Banner styles
// ========================================================================
.banner-container {
  position: relative;
  display: flex;
}
.first-image {
  // First image styles //
  @include first-img;
}

// Media styles
.image-container {
  @include img-text;
}

@media (min-width: 767px) and (min-height: 1024px) {
  .image-container .h1 {
    margin-top: 45px;
  }
}
@media (min-width: 375px) and (max-height: 950px) {
  .image-container .h1 {
    margin-left: 10px;
    margin-right: 10px;
  }
}
