// ========================================================================
// Banner styles
// ========================================================================
.banner-container {
  position: relative;
  display: flex;
}
.first-image {
  // First image styles //
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8),
      rgba(40, 40, 40, 0.4)
    ),
    url(../img/slide-1.png);
  background-position: 50% 5%;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-bottom: 90px;
  width: 100%;
  height: 550px;
}

// Media styles
.image-container {
  padding: 3.75rem 0;
}

.image-container .h1 {
  font-size: 2.5em;
  font-weight: 600;
  line-height: 3rem;
  cursor: default;
  margin-bottom: 1.25rem;
}
.image-container p {
  font-size: 1.25em;
  line-height: 1.75rem;
  font-weight: 600;
  margin: -10px 25px 0.375rem 25px;
  cursor: default;
}

.image-container a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
  text-transform: uppercase;
  background-color: #926fb1;
  display: inline-block;
  margin-top: 1.938rem;
  margin-bottom: 1.125rem;
  padding: 1em;
  border-radius: 3px;
  &:hover {
    background-color: #7e57a0;
  }
}

@media (min-width: 767px) and (min-height: 1024px) {
  .image-container .h1 {
    margin-top: 45px;
  }
}
@media (min-width: 375px) and (max-height: 950px) {
  .image-container .h1 {
    margin-left: 10px;
    margin-right: 10px;
  }
}
// @include mq(x-small) {
//   .image-container {
//     height: 530px;
//     h3 {
//       font-size: 2em;
//     }
//     p {
//       font-size: 1em;
//     }
//     a {
//       font-size: 1.2em;
//     }
//   }
// }
