// ========================================================================
// Banner styles
// ========================================================================
.banner-container {
  position: relative;
  display: flex;
}
.banner {
  position: relative;
  width: 100%;
  display: flex;
  transition: right 0.35s ease-out;
  // First image styles //
}

.slider {
  &.main {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.8),
        rgba(40, 40, 40, 0.4)
      ),
      url(../../img/slide-1.png);
  }
  &.second {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.8),
        rgba(40, 40, 40, 0.4)
      ),
      url(../../img/slide-2.jpg);
    a {
      background-color: $nav-color-1n;
      &:hover {
        background-color: $nav-color-1dk;
      }
    }
  }
  &.third {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.8),
        rgba(40, 40, 40, 0.4)
      ),
      url(../../img/slide-3.png);
    a {
      background-color: $nav-color-2n;
      &:hover {
        background-color: $nav-color-2dk;
      }
    }
  }
  &.fourth {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.8),
        rgba(40, 40, 40, 0.4)
      ),
      url(../../img/slide-4.png);
    a {
      background-color: $nav-color-3n;
      &:hover {
        background-color: $nav-color-3dk;
      }
    }
  }
  &.fifth {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.8),
        rgba(40, 40, 40, 0.4)
      ),
      url(../../img/slide-5.png);
    a {
      background-color: $nav-color-4n;
      &:hover {
        background-color: $nav-color-4dk;
      }
    }
  }
  &.sixth {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.8),
        rgba(40, 40, 40, 0.4)
      ),
      url(../../img/slide-6.jpg);
  }
  &.seventh {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.8),
        rgba(40, 40, 40, 0.4)
      ),
      url(../../img/slide-7.png);
    a {
      background-color: $nav-color-6n;
      &:hover {
        background-color: $nav-color-6dk;
      }
    }
  }
  background-position: 50% 5%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  padding-bottom: 90px;
  width: 100%;
  height: 680px;
  transition: height 0.25s ease-out;

  @include mq(x-small) {
    height: 600px;
  }
  @include mq(small) {
    height: 530px;
  }
  @include mq(large) {
    height: 550px;
    text-align: left;
  }
}

// Media styles

.image-container {
  @include img-text;
  @include mq(large) {
    margin-left: 10px;
  }
}

@media (min-width: 767px) and (min-height: 1024px) {
  .image-container .h1 {
    margin-top: 45px;
  }
}
@media (min-width: 375px) and (max-height: 950px) {
  .image-container .h1 {
    margin-left: 10px;
    margin-right: 10px;
  }
}
