// ==========================================
// Contact Us Page Styles 
// ==========================================

 .contact-nav {
    display: none;
    padding: 15px 0;
    box-shadow: 0 5px 35px rgba(0,0,0,0.1);
    margin-bottom: 50px; 
    &-inner {
        font-size: 0.8rem;
    }
}