// ============================================
// Header styles
// ============================================

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 1em;
  img {
    max-width: 100%;
    display: flex;
    border: 0;
  }
}

.header-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: 15px;
}

.icon-disabled {
  display: none;
}
.icon-disabled i {
  padding-right: 5px;
}
.icon-disabled a:nth-child(1) {
  color: #fff;
  background-color: #4183d7;
  padding: 15px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 15px;
  &:hover {
    background-color: #2a6ec6;
  }
}
.icon-disabled a:nth-child(2) {
  color: #fff;
  background-color: #999aa2;
  padding: 15px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 15px;
  &:hover {
    background-color: #84858f;
  }
}

.icon-phone {
  text-decoration: none;
  padding-right: 10px;
  color: black;
  font-size: 25px;
  &:hover {
    text-decoration: underline;
  }
}

#hamburger-nav {
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
}
.hamburger-bars {
  cursor: pointer;
  color: #fff;
  background-color: $dark-txt;
  border-radius: 5%;
  padding: 13px 20px;
  font-size: 2em;
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    background-color: $vdark-bg;
  }
}

// search box styles

.search-mobile {
  display: flex;
  position: relative;
  background-color: #e9e9e9;
  height: 45px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 0;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 16px);
  margin-bottom: 20px;
  input[type="text"] {
    width: 100%;
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    border-right: none;
    padding: 10px;
    outline: none;
  }
  button[type="submit"] {
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    border-left: none;
    padding: 0;
    margin: 0;
    color: #fff;
    cursor: pointer;
  }
}
.search-big {
  font-size: 1.5em;
}
.icon-search {
  font-size: 20px;
  color: black;
  margin-right: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

// Navigation bar styles and media queries

.desktop-nav {
  display: none;
  background-color: $dark-txt;
  nav {
    position: relative;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  i {
    display: block;
    font-size: 1.2em;
    text-align: center;
    padding: 20px 0 15px 0;
  }
}

.main-nav {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 auto;
  overflow: visible;
  li {
    list-style: none;
  }
}

.main-nav > li > a {
  position: relative;
  display: block;
  height: 100%;
}
.main-nav > li:nth-child(1) i {
  color: #67809f;
}

.main-nav li .hidden-nav {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
}
.main-nav > li:nth-child(1) .hidden-nav {
  background-color: #526781;
}
.main-nav > li:nth-child(1):hover {
  background-color: #67809f;
}
.main-nav > li:hover > a::after {
  display: block;
}
.main-nav > li:nth-child(1) > a::after {
  border-top-color: #67809f;
}

.main-nav > li:nth-child(2) .hidden-nav {
  background-color: #286abd;
}
.main-nav > li:nth-child(2) i {
  color: #4183d7;
}
.main-nav > li:nth-child(2):hover {
  background-color: #4183d7;
}
.main-nav > li:nth-child(3) .hidden-nav {
  background-color: #25a25a;
}
.main-nav > li:nth-child(3) i {
  color: #2ecc71;
}
.main-nav > li:nth-child(3):hover {
  background-color: #2ecc71;
}
.main-nav > li:nth-child(3) > a::after {
  border-top-color: #2ecc71;
}
.main-nav > li:nth-child(4) .hidden-nav {
  background-color: #bc2c28;
}
.main-nav > li:nth-child(4) i {
  color: #d64541;
}
.main-nav > li:nth-child(4):hover {
  background-color: #d64541;
}
.main-nav > li:nth-child(4) > a::after {
  border-top-color: #d64541;
}

.main-nav > li:nth-child(5) .hidden-nav {
  background-color: #79539a;
}
.main-nav > li:nth-child(5) i {
  color: #926fb1;
}
.main-nav > li:nth-child(5):hover {
  background-color: #926fb1;
}
.main-nav > li:nth-child(5) > a::after {
  border-top-color: #926fb1;
}

.main-nav > li:nth-child(6) .hidden-nav {
  background-color: #de093f;
}
.main-nav > li:nth-child(6) i {
  color: #f62459;
}
.main-nav > li:nth-child(6):hover {
  background-color: #f62459;
}
.main-nav > li:nth-child(6) > a::after {
  border-top-color: #f62459;
}

.main-nav > li:nth-child(7) .hidden-nav {
  background-color: #a3331d;
}
.main-nav > li:nth-child(7) i {
  color: #ce4125;
}
.main-nav > li:nth-child(7):hover {
  background-color: #ce4125;
}
.main-nav > li:nth-child(7) > a::after {
  border-top-color: #ce4125;
}
.main-nav li:hover i {
  color: #fff;
}
.main-nav > li > a::after {
  content: "";
  border-style: solid;
  border-width: 33px 51px 0;
  border-color: #4183d7 transparent transparent transparent;
  height: 0;
  width: 0;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 100;
  display: none;
}
.hidden-nav {
  display: none;
}

.main-nav > li:hover .hidden-nav {
  display: block;
}
.hidden-nav .inner-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 22px 40px 27px;
}

.hidden-nav .h2 {
  width: 100%;
  display: block;
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #fff;
}
.hidden-nav a {
  display: flex;
  margin: 20px 0;
}
.hidden-nav span {
  font-family: Poppins, sans-serif;
  margin-left: 10px;
  font-weight: $font-light;
  font-size: 1rem;
  line-height: 1.2em;
  max-width: 75%;
  &:hover {
    text-decoration: underline;
  }
}
.hidden-nav li {
  width: 33%;
}

.hidden-nav i {
  padding: 0;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 1em;
}

.nav-section {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: $font-bold;
  line-height: 1em;
}
.small {
  font-size: 0.65em;
  margin-bottom: 0;
}

@include mq(large) {
  .desktop-nav {
    display: block;
  }
  .main-nav > li a::after {
    border-right-width: 67px;
    border-left-width: 67px;
  }
}

@include mq(x-large) {
  .main-nav > li a:after {
    border-right-width: 80px;
    border-left-width: 84px;
  }
}

@include mq(x-large) {
  .hidden-nav a {
    margin-left: -10px;
  }
  .hidden-nav .h2 {
    margin-left: -10px;
  }
}
