// ============================================
// Header styles
// ============================================

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 1em;
  img {
    max-width: 100%;
    display: flex;
    border: 0;
  }
}

.header-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-left: 15px;
  gap: 15px;
}

.icon-phone {
  text-decoration: none;
  padding-right: 20px;
  color: black;
  font-size: 25px;
  &:hover {
    text-decoration: underline;
  }
}

.hamburger-bars {
  color: #fff;
  background-color: $dark-txt;
  border-radius: 5%;
  padding: 13px 20px;
  font-size: 2em;
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    background-color: $vdark-bg;
  }
}

// search box styles

.search-mobile {
  display: flex;
  position: relative;
  background-color: #e9e9e9;
  height: 45px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 0;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 16px);
  margin-bottom: 20px;
  input[type="text"] {
    width: 100%;
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    border-right: none;
    padding: 10px;
    outline: none;
  }
  button[type="submit"] {
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    border-left: none;
    padding: 0;
    margin: 0;
    color: #fff;
    cursor: pointer;
  }
}
.search-big {
  font-size: 1.5em;
}
.icon-search {
  font-size: 20px;
  color: black;
  margin-right: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
