//  =======================================================================
//  Newsletter
// ========================================================================

.news-bg {
  background-color: $med-bg;
  h2 {
    font-weight: $font-light;
    font-size: 2rem;
  }
  label {
    line-height: 32px;
    font-weight: $font-bold;
    color: $dark-txt;
  }
}
.required::after {
  content: "*";
  color: red;
}

.subscribe {
  color: white;
  background-color: $dark-bg;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-size: 1.063rem;
  border: none;
  border-radius: 3px;
  white-space: normal;
  &:hover {
    background-color: $vdark-bg;
    cursor: pointer;
  }
}

.privacy {
  color: $dark-bg;
  &:hover {
    color: $vdark-bg;
  }
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

#name,
#email {
  width: 100%;
  height: 47px;
  padding: 5px 15px;
  border-color: #ccc;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #e5e5e5;

  &:focus {
    border-color: #5bc0de;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(91, 192, 222, 0.6);
  }
}

.pointy {
  display: table-cell;
  vertical-align: top;
  cursor: pointer;
}

.checkbox {
  display: table-cell;
  vertical-align: top;
  align-items: center;
  cursor: pointer;
}

.checkbox__input {
  display: none;
}

.checkbox__box {
  width: 2rem;
  height: 2rem;
  border: 3px solid #000000;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
}

.checkbox__box::after {
  content: "\2714";
  color: #fff;
  transform: scale(0);
}

.checkbox__input:checked + .checkbox__box {
  background: $dark-bg;
  border-color: $dark-bg;
}

.checkbox__input:checked + .checkbox__box::after {
  transform: scale(1);
}
