// ===============================================================================
// Grid styles
// ===============================================================================

.service-head {
  position: relative;
}

.icon {
  @include button-style(
    banner,
    image-container,
    $custom-padding: 15px,
    $custom-font-size: 1.7em
  );

  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  margin: 0 auto;
  i {
    margin: auto;
  }
}
.tab-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  text-align: center;
  cursor: pointer;
  h3 {
    color: $dark-txt;
    font-size: 1.3em;
    font-weight: $font-light;
    margin-top: 10px;
  }
  p {
    color: $dark-txt;
    font-size: 0.8em;
    line-height: 1.8em;
    margin: -10px 30px;
    padding-bottom: 110px;
  }
  a {
    color: $dark-txt;
    text-decoration: none;
  }
}

.tab-container .tab1,
.tab-container .tab2,
.tab-container .tab3,
.tab-container .tab4,
.tab-container .tab5,
.tab-container .tab6,
.tab-container .tab7 {
  background-color: #fff;
  border: 1px solid $border-grey;
  border-radius: 15px;
  padding: 20px 20px;
  box-shadow: 0px 0px 20px $input;
  position: relative;
  top: 0;
  transition: 0.5s ease;
}

// Hover styles
.tab1:hover {
  background-color: $nav-color-1n;
  top: -10px;
  transition: 0.5s ease;
}
.tab2:hover {
  background-color: $nav-color-2n;
  top: -10px;
  transition: 0.5s ease;
}
.tab3:hover {
  background-color: $nav-color-3n;
  top: -10px;
  transition: 0.5s ease;
}
.tab4:hover {
  background-color: $nav-color-4n;
  top: -10px;
  transition: 0.5s ease;
}
.tab5:hover {
  background-color: $nav-color-5n;
  top: -10px;
  transition: 0.5s ease;
}
.tab6:hover {
  background-color: $nav-color-6n;
  top: -10px;
  transition: 0.5s ease;
}
.tab7:hover {
  background-color: $nav-color-7n;
  top: -10px;
  transition: 0.5s ease;
}
.tab-container > div:hover h3,
.tab-container > div:hover p {
  color: #fff;
}

// Font styles
.services {
  color: $dark-txt;
  font-size: 2.7em;
  font-weight: 600;
}
.view-hidden {
  font-size: 1.6em;
  font-weight: $font-bold;
  color: $dark-txt;
  text-decoration: none;
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
  text-align: center;
  visibility: hidden;
}
.view-work {
  font-size: 1.6em;
  font-weight: $font-bold;
  color: $dark-txt;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 35px 0 0 0;
}

.view-hidden:hover,
.view-work:hover {
  text-decoration: underline;
}

// Grid areas

.tab1 {
  grid-area: tabone;
}

.tab2 {
  grid-area: tabtwo;
}

.tab3 {
  grid-area: tabthree;
}

.tab4 {
  grid-area: tabfour;
}

.tab5 {
  grid-area: tabfive;
}

.tab6 {
  grid-area: tabsix;
}

.tab7 {
  grid-area: tabseven;
}

// Work showcase styles

.work-showcase {
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin: 50px 0;
}

.work-showcase a {
  display: none;
  cursor: default;
  margin: 20px 70px;
  max-height: 70px;
  width: auto !important;
}

.greyscale {
  filter: grayscale(1);
  &:hover {
    filter: none;
  }
}

.work-showcase a:nth-child(-n + 3) {
  display: inline-flex;
}

@media (min-width: 600px) {
  .work-showcase a:nth-child(-n + 5) {
    display: inline-flex;
  }
}

@include mq(x-large) {
  .work-showcase a:nth-child(-n + 12) {
    display: inline-flex;
  }
}
