// ===================================================================
// Base styles
// ===================================================================

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
html {
  background-color: #fff;
}
body {
  --nav-height: 212px;
  padding-top: var(--nav-height);
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.4px;
  background-color: #fff;
  i {
    text-decoration: none;
  }
}

main {
  overflow: hidden;
  background-color: #fff;
}
header button {
  border: none;
  background-color: #fff;
}
footer {
  margin-top: auto;
}

.padfifty {
  padding-top: 50px;
  padding-bottom: 50px;
}

.inner-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.message {
  position: fixed;
  right: 1%;
  bottom: 3%;
  z-index: 2;
  button {
    background-color: $dark-txt;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  i {
    font-size: 2em;
    color: #fff;
  }
}
// ===================================================================
// Text styles
// ===================================================================
.socials p {
  color: #fff;
}

ul {
  padding: 0;
}
li {
  list-style: none;
  display: list-item;
  line-height: 1.35rem;
}

li a {
  text-decoration: none;
  color: black;
}
